*{
    text-decoration:none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    nav{
    background-color:#4b0c2d;
    box-shadow:5px 5px 5px black;
    }
    .navdiv{
    display:flex;
    justify-content:space-between;
    }
    li{
    list-style:none;
    display:inline-block;
    }
    li a{
    padding:13px;
    color:black;
    }
    .logo img{
    padding-left:34px
    }
    button{
    background-color:rgb(98, 130, 156);
    border-radius:15px;
    margin-right:15px;
    }
    .b1{
    padding:10px;
    }
    button a{
    color:white;
    }
    #header2{
        border:10px solid #35548d;
        border-radius: 10px;
        text-align:center;
    }
    #list{
        font-size: 30px;
        text-align: center;
        color:rgb(65, 119, 221);
        font-weight: bold;
    }
    .imglist{
        display: flex;
        justify-content: space-evenly;
    }
    .imglist img{
        border: 15px solid #F9CEE4;
        border-radius: 20px;
    }
    .sherbimi{
        font-size: 30px;
        text-align: center;
        color: rgb(66, 116, 182);
        width: 50%;
        margin:0 auto;
    }
    .sherbimi h5 {
        border:15px solid #F9CEE4;
        padding:10px;
        border-radius: 20px;
        box-shadow: 5px 5px 10px;
    }
    .sherbimi h5::selection{
        background-color: #F9CEE4;
    }
    .maindiv{
        display: flex;
        justify-content: space-evenly;
        padding:15px;
    }
    .maindiv div{
        border:10px solid #F9CEE4;
        border-radius: 20px;
        padding:15px;
    }
  .div1{
    text-align: center;
    margin:20px;
  }
  .div1 img{
    width: 170px;
    height: 200px;
    border: 6px solid rgb(83, 92, 167);
    border-radius: 20px;
  }
  .div1 h3{
    color:rgb(73, 75, 175);
    margin-top: 10px;
    font-size: 21px;
  }
  .div1 p{
    color:rgb(76, 78, 167);
    font-weight: bold;
    font-size: 18px;
  }
  .div1 button{
    background-color: #F9CEE4;
    color: rgb(91, 128, 177);
    font-weight: bold;
    font-size: 17px;
  }

  .divkryesor{
    display: flex;
    justify-content: space-evenly;
    padding:15px;
}
.divkryesor div{
    border: 10px solid #F9CEE4;
    border-radius: 20px;
    padding:15px;
}
.filmi{
text-align: center;
margin:20px;
}
.filmi img{
width: 170px;
height: 200px;
border: 6px solid rgb(70, 91, 148);
border-radius: 20px;
}
.filmi h3{
color:rgb(77, 90, 168);
margin-top: 10px;
font-size: 21px;
}
.filmi p{
color:rgb(76, 127, 168);
font-weight: bold;
font-size: 18px;
}
.filmi button{
background-color: #F9CEE4;
color: rgb(72, 77, 146);
font-weight: bold;
font-size: 17px;
}

.kryediv{
  display: flex;
  justify-content: space-evenly;
  padding:15px;
}
.kryediv div{
  border: 10px solid #F9CEE4;
  border-radius: 20px;
  padding:15px;
}
.div2{
text-align: center;
margin:20px;
}
.div2 img{
width: 170px;
height: 200px;
border: 6px solid rgb(110, 108, 189);
border-radius: 20px;
}
.div2 h3{
color:rgb(101, 122, 189);
margin-top: 10px;
font-size: 21px;
}
.div2 p{
color:rgb(91, 90, 168);
font-weight: bold;
font-size: 25px;
}
.div2 button{
background-color: #F9CEE4;
color: rgb(91, 85, 175);
font-weight: bold;
font-size: 17px;
}

.divmain{
  display: flex;
  justify-content: space-evenly;
  padding:15px;
}
.divmain div{
  border: 10px solid #F9CEE4;
  border-radius: 20px;
  padding:15px;
}
.bileta{
text-align: center;
margin:20px;
}
.bileta img{
width: 170px;
height: 200px;
border: 6px solid rgb(85, 69, 145);
border-radius: 20px;
}
.bileta h3{
color:rgb(4, 5, 12);
margin-top: 10px;
font-size: 21px;
}
.bileta p{
color:rgb(77, 65, 133);
font-weight: bold;
font-size: 25px;
}
.bileta button{
background-color: #F9CEE4;
color: rgb(82, 81, 161);
font-weight: bold;
font-size: 17px;
}

